<!DOCTYPE html>
<html>
<head>
    <title>Address</title>
    <link rel="stylesheet" href="/static/css/address.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/shop">Pagal Cart</a>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <h2>Delivery Address</h2>
        
        <input type="text" id="fullname" placeholder="Enter Your Full Name">
        <input type="number" id="phone" placeholder="Enter Your Phone Number">
        <input type="text" id="address" placeholder="Enter Your Address">
        <input type="text" id="city" placeholder="Enter Your City">
        <input type="text" id="state" placeholder="Enter Your State">
        <input type="number" id="pincode" placeholder="Enter Your Pincode">
        
        <button onclick="placeOrder()">Place Order</button>
    </div>
    
    <script src="/static/js/address.js"></script>
</body>
</html>