<!DOCTYPE html>
<html>
<head>
    <title>Admin Access</title>
    <link rel="stylesheet" href="/static/css/auc.css">
</head>
<body>
    <div class="container">
        <h2>Admin Panel Login 🔐</h2>
        
        <!-- input area -->
        
        <input type="email" id="email" placeholder="Enter Your Email">
        <input type="password" id="password" placeholder="Enter Your Password">
        
        <button onclick="adminlogin()">Login</button>
        
        <p>Not admin? <a href="/login">Go to Shop</a></p>
        
    </div>
    <script src="/static/js/admin-login.js"></script>
</body>
</html>