
<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <header>
        <!-- logo -->
        <nav>
            <div class="logo">
                <a href="/shop">Pagal Cart</a>
            </div>
            <button onclick="openModal()">+ Add Product</button>
        </nav>
    </header>
    <!-- stats section -->
        <div class="stats-container">
            <div class="stat-card">
                <h3>📦 Products</h3>
                <p id="total-products">0</p>
            </div>
            <div class="stat-card">
                <h3>👥 Users</h3>
                <p id="total-users">0</p>
            </div>
            <div class="stat-card">
                <h3>🛒 Orders</h3>
                <p id="total-orders">0</p>
            </div>
        </div>
    <!-- tabs -->
        <div class="tabs">
            <button onclick="showTab('products')" class="tab-btn active" id="tab-products">Products</button>
            <button onclick="showTab('database')" class="tab-btn" id="tab-database">Database</button>
        </div>

        <!-- products section -->
        <div id="products-section">
            <h2>All Products</h2>
            <div id="products-list"></div>
        </div>

        <!-- database section -->
        <div id="database-section" style="display:none">
            <h2>Users</h2>
            <div id="users-list"></div>
            <h2>Orders</h2>
            <div id="orders-list"></div>
        </div>

        <div id="modal" style="display:none">
            <div class="modal-content">
                <!-- your inputs and button here -->
                <h3> All Products</h3>
                <input type="text" id="name" placeholder="name">
                <input type="text" id="description" placeholder="description">
                <input type="number" id="price" placeholder="price">
                <input type="text" id="image" placeholder="image url">
                <button id="modal-btn" onclick="addproduct()">Add Product</button>
                <button class="close-btn" onclick="closeModal()">✕</button>
            </div>
        </div>
    <script src="/static/js/admin.js"></script>
</body>
</html>