<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    <!-- header -->
    
    
    <header>
        <!-- logo -->
        <nav>
            <div class="logo">
                <a href="/shop">Pagal Cart</a>
            </div>
            <div class="nav-links">
                <div class="nav-links">
                    <a href="/cart" class="cart-icon">🛒</a>
                    <a href="/dashboard" class="profile-icon">👤</a>
                    
                </div>
            </div>
        </nav>
    </header>
    <h2> Welcome, <span id="user-name"></span> 👋</h2>
    <!-- main content -->
    <main>
        <!-- products grid -->
         <h3>My Orders</h3>
        <div id="orders-list"></div>

    </main>
    <!-- footer -->
    <footer>
        <p>© 2026 BrandName. All rights reserved.</p>
    </footer>

    <script src="/static/js/dashboard.js"></script>
</body>
</html>