<!DOCTYPE html>
<html>
<head>
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <!-- header -->
    
    
    <header>
        <!-- logo -->
        <nav>
            <div class="logo">
                <a>Pagal Cart</a>
            </div>
            <!-- search bar -->
            <div class="search-Container">
                <input type="text" id="search-input" placeholder="Search Products" oninput="searchProducts()">

            </div>
            <div class="nav-links">
                <a href="/cart" class="cart-icon">🛒</a>
                
                <!-- show when not logged in -->
                <a href="/login" class="login-btn" id="login-link">Login</a>
                
                <!-- show when logged in -->
                <div class="profile-container" id="profile-container" style="display:none">
                    <span class="profile-icon" onclick="toggleDropdown()">👤</span>
                    <div class="profile-dropdown" id="profile-dropdown" style="display:none">
                        <p id="profile-name">Hi!</p>
                        <a href="/dashboard">My Orders</a>
                        <a href="/wishlist">My Wishlist ❤️</a>
                        <a onclick="logout()">Logout</a>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <!-- main content -->
    <main>
        <!-- products grid -->
        <div id="products-grid">
            <!-- product cards will load here from JS -->
        </div>
    </main>
    <!-- footer -->
    <footer>
        <p>© 2026 BrandName. All rights reserved.</p>
    </footer>

    <script src="/static/js/index.js"></script>
</body>
</html>