<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/auc.css">
</head>
<body>
    <div class="container">
        <h2>Login Account</h2>
        
        <!-- input area -->
        
        <input type="email" id="email" placeholder="Enter Your Email">
        <div class="password-container">
            <input type="password" id="password" placeholder="Enter Your Password">
            <span onclick="togglePassword('password')">👁️</span>
        </div>
        
        <button onclick="login()">Login</button>
        
        
        <p>Creat an Account  <a href="/signup">Signup</a></p>
    </div>
    <script src="/static/js/auc.js"></script>
</body>
</html>