<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/auc.css">
</head>
<body>
    <div class="container">
        <h2>Create Account</h2>
        
        <!-- input area -->
        <input type="text" id="name" placeholder="Enter Your Name">
        <input type="email" id="email" placeholder="Enter Your Email">
        <input type="password" id="password" placeholder="Enter Your Password">
        
        <button onclick="signup()">Sign Up</button>
        
        
        <p>Already Have an Account  <a href="/login">login</a></p>
    </div>
    <script src="/static/js/auc.js"></script>
</body>
</html>